langchain-openai
langchain-community
langchain-chroma
langchain-core
langchain-google-genai

beautifulsoup4
google

requests

llmsherpa
llama-index

pypdf

streamlit>=1.24.0

fastapi>=0.68.0
uvicorn>=0.15.0
python-multipart>=0.0.5
pydantic>=1.8.0

pandas>=1.3.0